version: "3.8"

services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:{{ monitoring_cadvisor_version }}
    container_name: cadvisor
    restart: unless-stopped
    privileged: true
    ports:
      - "{{ monitoring_metrics_bind_address }}:{{ monitoring_cadvisor_port }}:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    command:
      - --housekeeping_interval=30s
      - --max_housekeeping_interval=35s
      - --disable_metrics=percpu,sched,tcp,udp,disk,diskIO,hugetlb,referenced_memory,cpu_topology,resctrl
