server {
    listen 9090;
    server_name _;

    allow {{ monitoring_prometheus_server_ip }};
    deny all;

    location /node {
        proxy_pass http://127.0.0.1:{{ monitoring_node_exporter_port }}/metrics;
    }

    location /cadvisor {
        proxy_pass http://127.0.0.1:{{ monitoring_cadvisor_port }}/metrics;
    }
}
